/* Общие стили обёртки */
.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 
 /* Стили основного контента */
 .content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 16px;
 }
 
 /* Медиа-запрос для планшетов и выше */
 @media (min-width: 768px) {
  .wrapper {
  max-width: 1048px;
  display: flex;
  flex-direction: column;
  align-items: start;
  }
 
  .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 16px;
  }
 }
 
 /* Стили для лого (удалены закомментированные части) */
 .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
 }
 
 .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
 }
 
 .logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
 }
 
 /* Анимация для лого */
 @keyframes logo-spin {
  from {
  transform: rotate(0deg);
  }
  to {
  transform: rotate(360deg);
  }
 }
 
 @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
  animation: logo-spin infinite 20s linear;
  }
 }
 
 /* Стили для карточек */
 .card {
  padding: 2em;
 }
 
 /* Стили для текста "Read the Docs" */
 .read-the-docs {
  color: #888;
 }
 